<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Main Page</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" th:text="#{welcome}">Welcome!</h1>
            <p style="margin-top: 30px">This is a reimagined PetClinic project. Used solely for learning purposes and not for commercial use. </p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/igorek1955/pet-clinic-springboot" role="button">View github for more info &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>CRUD operations</h2>
                <p>Showcase of CRUD functionality with Spring Boot. You can add, delete
                    and edit owners, their pets and visits to petclinic.  </p>
                <p><a class="btn btn-success" href="/owners/findOwners.html" role="button">Test CRUD &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Recipe App with MySQL</h2>
                <p>Checkout my RecipeApp on GitHub, made with Spring Boot and using MySQL for data storage. </p>
                <p><a class="btn btn-success" href="https://github.com/igorek1955/recipeapp-spring-mysql" role="button">View RecipeAPP #1 on gitHub &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Recipe App with MongoDB</h2>
                <p>Checkout my RecipeApp on GitHub, made with Spring Boot and using MongoDB for data storage.</p>
                <p><a class="btn btn-default" href="https://github.com/igorek1955/recipeapp-spring-mongoDB" role="button">View RecipeAPP #2 on gitHub &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; Reimagined by Igor</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>